.el-table--mini td, .el-table--mini th {
    padding: 0;
}
.el-table--mini{
    font-size:12px;
}
.el-button--mini.is-circle {
    padding: 3px;
}

.el-button--mini, .el-button--mini.is-round {
    padding: 3px 10px;
}
.el-button--mini {
    font-size: 12px;
    border-radius: 3px;
}
.el-card__body {
    padding: 2px;
}

.el-avatar--small {
    width: 25px;
    height: 25px;
    line-height: 25px;
}


